.Header {
  background-color: #140524;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
  border-radius: 4px;
}

.Header-adjectives {
  color: #ff00ff;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

